[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vtk = "*"
pyqt5 = "*"
fpdf = "*"
pyinstaller = "*"
py2exe = "*"
auto-py-to-exe = "*"
numpy-stl = "*"
imageio = {version = "*", extras = ["ffmpeg"]}
opencv-python = "*"

[dev-packages]
